*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
.header {
    padding: 10px 50px; 
    background-color:#0d9c80 ;

    }
    
    .navigimi {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
  
    .nav-start {
        flex: 1;
        justify-content:flex-start

        
    }
    
    .nav-end { 
        flex: 1;
        justify-content:flex-end
    }
    
    .navigimi ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-content: center;
        align-items: center;
    }

    .navigimi ul>li {
        margin: 10px;
    }

    .navigimi a {
        font-weight: bold;
        font-family: 'Campton', sans-serif;
        text-decoration: none;
        color: white;
    }
    .login-button>img {
   
 
  
    color:wheat  
    



}
.nav-start a:hover {
    color: rgb(71, 70, 70);
}

.login-button>input:hover {
    color: rgb(71, 70, 70);
}
.foto {
    background: no-repeat;
    background-image:  url(FOTO2.jpg);
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    display: flex;
    

   
}
.title{
    position: absolute;
}
